<div class="col-sm-8 blog-main">
  <div class="blog-post">
   <%= render @blogs %>
    <h2 class="blog-post-title">Sample blog post</h2>
    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
  </div>
    



<p id="notice"><%= notice %></p>



<br>

