<h1>About Me </h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag"", width: 300, alt: "Profile Image"  %>
        </div>
    <div class="col-md-8">
        <p>Well trained Web Developer that knows how to create and modify web content. Has experience in  

analyzing customer needs working with teams and using software for manipulating multimedia  

Content.With the capacity to adapt and learn fast knows how to apply all stages of web development </p>
    </div>
</div>


