
    <div class="container">
    <h1 class="cover-heading">Hi</h1>
   
    <p class="lead">I'm a cake loving Ruby On Rails web developer with a passion for building dynamic web applications.If your looking for a new member for your team, or if you want to get to know more about me check out my links above</p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-outline-secondary about-me" %>
    </p>
    </div>
 
   
