@import "bootstrap";
@import "gritter";
@import "font-awesome";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */


html,
body {
    height: 100%;
   font-family: 'ZCOOL XiaoWei', serif;
}

body {
    color: #f3f7f8;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}


/*
 *  nav Header
 */
button.navbar-toggler.navbar-toggler-right {
    position: absolute;
    float: right;
    margin-left: 30em;
}


.blog-nav {
    margin-bottom: 30px;
}

.navbar-toggleable-md {

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}


.navbar-light .navbar-nav .nav-link {
    color: #2c3e50;
}

.nav-link.active {
    color: #fff;

}
.about-me{
    background-color: #bdc3c7;
}
.navbar-light .navbar-brand{
   color: #2c3e50;
}

nav .nav-link.active {
    color: #2c3e50;
     text-decoration: underline;
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #f3f7f8;
}




/*
 * Custom Styles
 */
.card-block{
    color: black;
    text-align: left;
    
}
.auth-links a{
    color: #333;
}





.login > .card{
    width: 22rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.app-nav span{
    margin-left: 15px;
    margin-right: 15px;
}

#background{
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: image-url('light-chi.jpg') no-repeat;
background-size: cover;
}
.app-footer{
    color: #f3f7f8;
}

.tech-news{
    color:black;
    margin: 20px;
}
.tech-news a {
    color: green;
}

.tech-news > .card {
    padding: 30px;
}
.app-card-container{
   color: black;
   text-align: left; 
}
app-card-container > .card{
   padding: 40px; 
}
.profile-img{
   border:  1px solid grey; 
}

.app-card-container a{
color: blue;
}
card-block{
    margin-top: 5px;
    margin-bottom:  5px;
}

.skill{
    margin-top: 10px;
    margin-bottom:10px;
    
}

.skill-background {
    background: image-url('dark-triangles') no-repeat;
}
.about-me{
    background-color: grey;
    color: white;
}

.fas fa-university{
    color: white;
}
.fa-layer-group i {
    background-color: white;
}

.contact-card{
    background-color: transparent;
    
}

.header-title{
    color: #2c3e50;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    text-underline-position: center;
}

.form-group{
    margin-left: 10px;
}
.message-box{
    margin-right: 20px;
}
.btn-send{
    margin-bottom:  10px;
    width: 50%;
}
.skill-spacing{
    margin-top: 1em; 
}


.progress-bar {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* color: #fff; */
    /* text-align: center; */
    /* white-space: nowrap; */
    background-color: #e8d608;
    transition: width 0.6s ease;
    
}

.progress {
    display: flex;
    height: 1px;
    overflow: hidden;
    /* font-size: 0.75rem; */
    background-color: #e5e4e2;
    border-radius: 0.25rem;
    margin-right: 20px;
}

.column-spacing{
    margin-bottom: 10px;
}
.skill-percent{
    font-size: 10px;
    float: right;
    margin-right: 20px;
}
.body-text{
    font-size: 10px;
}
.education_title{
    font-size: 12px;
}