@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "simplemde";
@import "pygments";

/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

/* Nav links */

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    margin-top: 20px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

/*
 * Custom styles
 */
.edit {
    color: #33cc33;
}

.trash {
    color: red;
}
 .nav-background{
    background-color: #e9ecef;
    padding: 8px 5px 5px 8px;
    border-radius: .25rem;
 }
.social-links li {
    font-size: 2.5em;
}

.comment-card>.card {
    margin-top: 15px;
}

.comment-attribution {
    font-size: .8em;
    font-style: italic;
}

.comment-name {
    font-weight: 700;
}

.blogcrumb a {
    font-size: 1.25em;
    margin: 0px 10px 0px 10px;
}

.blog-nav {
    margin-bottom: 30px;
}

.navbar-toggleable-md {

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.bg-faded {

    background-color: #21c2f8;
    
}

button.navbar-toggler.navbar-toggler-right {
    position: absolute;
    float: right;
    margin-left: 30em;
}
/*
 * blogs index design
 */
 .blog-container {
     background: #fff;
     border-radius: 5px;
     box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
     font-family: "adelle-sans", sans-serif;
     font-weight: 100;
     margin: 48px auto;
     width: 20rem;

     @media screen and (min-width: 480px) {
         width: 28rem;
     }

     @media screen and (min-width: 767px) {
         width: 35rem;
     }

     @media screen and (min-width: 959px) {
         width: 35rem;
     }
 }

 .blog-container a {
     text-decoration: none;
     transition: .25s ease;

     &:hover {
         border-color: #ff4d4d;
         color: #ff4d4d;
     }
 }

 // Blog header
 //-------------------------
 .blog-cover {
     background-size: cover;
     border-radius: 5px 5px 0 0;
     height: 15rem;
     box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 .blog-author,
 .blog-author--no-cover {
     margin: 0 auto;
     padding-top: .125rem;
     width: 100%;
 }

 .blog-author h3::before,
 .blog-author--no-cover h3::before {
     background-size: cover;
     border-radius: 50%;
     content: " ";
     display: inline-block;
     height: 32px;
     margin-right: .5rem;
     position: relative;
     top: 8px;
     width: 32px;
 }

 .blog-author h3 {
     color: #fff;
     font-weight: 100;
 }

 .blog-author--no-cover h3 {
     color: lighten(#333, 40%);
     font-weight: 100;
 }

 // Blog body
 //-------------------------
 .blog-body {
     margin: 0 auto;
     width: 90%;
 }

 .video-body {
     height: 100%;
     width: 100%;
 }

 .blog-title h1 a {
     color: #333;
     font-weight: 100;
 }

 .blog-summary p {
     color: lighten(#333, 10%);
 }

 .blog-tags ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     list-style: none;
     padding-left: 0;
 }

 .blog-tags li+li {
     margin-left: .5rem;
 }

 .blog-tags a {
     border: 1px solid lighten(#333, 40%);
     border-radius: 3px;
     color: lighten(#333, 40%);
     font-size: .75rem;
     height: 1.5rem;
     line-height: 1.5rem;
     letter-spacing: 1px;
     padding: 0 .5rem;
     text-align: center;
     text-transform: uppercase;
     white-space: nowrap;
     width: 5rem;
 }

 // Blog footer
 //-------------------------
 .blog-footer {
     border-top: 1px solid lighten(#333, 70%);
     margin: 0 auto;
     padding-bottom: .125rem;
     width: 80%;
     margin-top: 3em;
 }

 .blog-footer ul {
     list-style: none;
     display: flex;
     flex: row wrap;
     justify-content: flex-end;
     padding-left: 0;
 }

 .blog-footer li:first-child {
     margin-right: auto;
 }

 .blog-footer li+li {
     margin-left: .5rem;
 }

 .blog-footer li {
     color: lighten(#333, 40%);
     font-size: .75rem;
     height: 1.5rem;
     letter-spacing: 1px;
     line-height: 1.5rem;
     text-align: center;
     text-transform: uppercase;
     position: relative;
     white-space: nowrap;
     margin-top: .5em;

     & a {
         color: lighten(#333, 40%);
     }
 }

 .comments {
     margin-right: 1rem;
 }

 .published-date {
     border-radius: 3px;
     padding: 0 .5rem;
 }

 .numero {
     position: relative;
     top: -0.5rem;
 }

 // Icons
 //-------------------------
 .icon-star,
 .icon-bubble {
     fill: lighten(#333, 40%);
     height: 24px;
     margin-right: .5rem;
     transition: .25s ease;
     width: 24px;

     &:hover {
         fill: blue;
     }
 }


 .social-links li {
     font-size: 2.5em;
     float: right;
     padding: 11px;
 }

 .quote {
     font-size: .8em;
 }
 .sidebar {
     padding: 0 0 0 30px;
 }

 .post-tags {
     font-family: "Poppins", Arial, serif;
     margin: 30px 0 0;
 }

 .post-tags a {
     background: #f2f2f2;
     position: relative;
     display: inline-block;
     padding: 2px 15px;
     margin: 5px 10px 5px 0;
     height: 26px;
     text-transform: uppercase;
     letter-spacing: 1px;
     line-height: 24px;
     font-size: 7px;
     color: #111;
     border-radius: 2px;
 }

 .post-tags a:hover {
     background: #4a90e2;
     color: #fff;
 }


// Widget sidebar
//-------------------------

 .widget_search form {
     position: relative;
 }

 .search-button {
     background-color: transparent;
     border: none;
     position: absolute;
     top: -2px;
     height: 100%;
     right: 10px;
     -webkit-transition: all .3s ease-out;
     transition: all .3s ease-out;
     color: #ddd;
 }

 .search-button:focus,
 .search-button.focus,
 .search-button.active.focus,
 .search-button.active:focus,
 .search-button:active.focus,
 .search-button:active:focus {
     outline: 0;
 }

 .search-button:hover {
     color: #4a90e2;
 }

 .widget_archive ul li a,
 .widget_categories ul li a {
     margin-right: 5px;
 }

 .widget_recent_works,
 .widget_recent_entries a,
 .widget_recent_entries_custom a {
     color: #313131;
 }

 .widget_recent_works img,
 .widget_recent_entries a img,
 .widget_recent_entries_custom a img {
     border-radius: 3px;
 }

 .widget_recent_works>ul {
     margin: 0 -5px;
 }

 .widget_recent_works>ul:before,
 .widget_recent_works>ul:after {
     content: " ";
     display: table;
 }

 .widget_recent_works>ul:after {
     clear: both;
 }

 .widget_recent_works>ul>li {
     border: 0 !important;
     float: left;
     width: 33.333%;
     padding: 5px;
     margin: 0;
 }

 .widget_recent_works>ul>li>a:hover {
     opacity: .5;
 }

 
 .widget {
     margin: 0 0 50px;
 }

 .widget .widget-title {
     border-bottom: 1px solid rgba(238, 238, 238, .9);
     margin: 0 0 25px;
 }

 .widget .widget-title h5 {
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 12px;
     margin: 0;
 }

 .widget ul,
 .widget ol {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .widget ul li,
 .widget ol li {
     margin-bottom: 10px;
     border-bottom: 1px solid rgba(238, 238, 238, .9);
     padding-bottom: 10px;
 }

 .widget ul li:last-child,
 .widget ol li:last-child {
     border: 0;
 }

 .widget a {
     color: #999;
 }

 .widget a:hover,
 .widget a:focus {
     color: #4a90e2;
 }

 .widget input,
 .widget select {
     width: 100%;
     box-shadow: none;
     border-radius: 2px;
     border-width: 1px;
     border-color: #eee;
     font-family: "Poppins", Arial, serif;
     text-transform: uppercase;
     letter-spacing: .09375rem;
     font-size: .625rem;
     padding: 1rem .9375rem;
 }

 .widget_recent_works,
 .widget_recent_entries a,
 .widget_recent_entries_custom a {
     color: #313131;
 }

 .widget_recent_works img,
 .widget_recent_entries a img,
 .widget_recent_entries_custom a img {
     border-radius: 3px;
 }
.sidebar {
    padding: 0 0 0 30px;
}
.social-links li {
    font-size: 2.5em;
}