@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "gritter";
@import "social-share-button";

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 75rem;
    /* Can be removed; just added for demo purposes */
    background-color: #fafafa;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
    {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: white;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    min-height: 10rem;
    max-width: 40rem;
}

.album {
    min-height: 50rem;
    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 100%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card>img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

/* Added Theme */

.module,
.module-sm,
.module-header {
    background-color: #f7f7f7;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 250px 0;
}

.module.module-divider-top,
.module-sm.module-divider-top,
.module-header.module-divider-top {
    border-top: 1px solid #f2f2f2;
}

.module.module-divider-bottom,
.module-sm.module-divider-bottom,
.module-header.module-divider-bottom {
    border-bottom: 1px solid #f2f2f2;
}

.module,
.module-sm {
    background-color: #fff;
    padding: 100px 0;
}

.module-sm {
    padding: 30px 0;
}

.module-gray {
    background-color: #f7f7f7;
}

/*------------------------------------------------------------------
[Portfolio grid]
*/

.row-portfolio .grid-sizer,
.row-portfolio .portfolio-item {
    width: 33.333333%;
    float: left;
}

.row-portfolio[data-columns="4"] .grid-sizer,
.row-portfolio[data-columns="4"] .portfolio-item {
    width: 25%;
}

/*------------------------------------------------------------------
[Portfolio grid11111]
*/

.row-portfolio.row-related-portfolio {
    margin-left: -10px;
    margin-right: -10px;
}

.row-portfolio.row-related-portfolio .grid-sizer,
.row-portfolio.row-related-portfolio .portfolio-item {
    padding: 0 10px 20px;
}

/*------------------------------------------------------------------
[Portfolio Single Item]
*/

.portfolio-title,
.portfolio-caption,
.portfolio-overlay,
.portfolio-subtitle,
.portfolio-wrapper img {
    -webkit-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #000;
}

.portfolio-overlay {
    position: absolute;
    background: rgba(49, 49, 49, .95);
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.portfolio-caption {
    position: absolute;
    padding: 25px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    top: 50%;
    left: 0;
    text-align: center;
}

.portfolio-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.8;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.portfolio-subtitle {
    font-size: 14px;
    opacity: .7;
}

.portfolio-link {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.portfolio-item:hover .portfolio-wrapper img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-caption {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.row-portfolio[date-portfolio-type="standard"] .portfolio-caption {
    position: relative;
    opacity: 1;
}

.row-portfolio[date-portfolio-type="standard"] .portfolio-item .portfolio-title,
.row-portfolio[date-portfolio-type="standard"] .portfolio-item .portfolio-subtitle {
    color: #313131;
}

.row-portfolio[date-portfolio-type="standard"] .portfolio-item:hover .portfolio-title,
.row-portfolio[date-portfolio-type="standard"] .portfolio-item:hover .portfolio-subtitle {
    color: #fff;
}

.row-portfolio[date-portfolio-type="standard"] .portfolio-item:hover .portfolio-caption {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media (max-width: 1199px) {

    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item {
        width: 33.333333%;
    }
}

@media (max-width: 991px) {

    .row-portfolio .grid-sizer,
    .row-portfolio .portfolio-item,
    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item {
        width: 50%;
    }

    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item {
        width: 50%;
    }
}

@media (max-width: 767px) {

    .row-portfolio .grid-sizer,
    .row-portfolio .portfolio-item,
    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item {
        width: 100%;
    }
}

/*------------------------------------------------------------------
[Portfolio Single Navigation]
*/

.ps-next,
.ps-prev {
    height: 40px;
    display: block;
}

.ps-all,
.ps-next,
.ps-prev {
    line-height: 40px;
}

.ps-all a,
.ps-next a,
.ps-prev a {
    line-height: 40px;
    color: #313131;
}

.ps-all a>.arrows,
.ps-next a>.arrows,
.ps-prev a>.arrows {
    line-height: 40px;
    font-size: 35px;
}

.ps-all a>.arrows:before,
.ps-next a>.arrows:before,
.ps-prev a>.arrows:before {
    line-height: 40px;
}

.ps-all a:hover,
.ps-next a:hover,
.ps-prev a:hover {
    color: #4a90e2;
}

.ps-next {
    text-align: right;
}

.ps-all {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.ps-all .h4 {
    font-size: 12px;
}

/*------------------------------------------------------------------
[Portfolio Single]
*/

.portfolio-content p,
.portfolio-content ul,
.portfolio-content ol {
    margin: 0 0 30px;
}

.portfolio-sidebar {
    padding-left: 30px;
}

.portfoli-details {
    border-top: 1px solid rgba(43, 40, 40, 0.9);
    border-bottom: 1px solid rgba(43, 40, 40, 0.9);
    padding: 20px 0;
    margin: 0 0 0;
}

.portfoli-details ul {
    margin: 0;
}

.portfoli-details.border-left {
    border: 0;
    border-left: 1px solid rgba(238, 238, 238, .9);
    padding: 0 0 0 30px;
}

.portfoli-details li>span {
    display: inline-block;
    min-width: 100px;
}

.portfoli-details>ul>li {
    margin: 0 0 20px;
}

.portfoli-details>ul>li:last-child {
    margin: 0;
}

.portfoli-details li>h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0 0 5px;
}

h2.single-portfolio-title {
    font-size: 30px;
}

h3.single-portfolio-title {
    font-size: 22px;
}

.project-details li {
    padding: 0 0 5px;
}

.portfolio-content> :last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .portfolio-sidebar {
        padding: 50px 0 0 0;
    }

    .portfoli-details.border-left {
        border: 0;
        border-top: 1px solid rgba(238, 238, 238, .9);
        border-bottom: 1px solid rgba(238, 238, 238, .9);
        padding: 20px 0;
    }
}

/*------------------------------------------------------------------
[Sliders]
*/

.owl-carousel .owl-pagination {
    text-align: center;
}

.owl-carousel .owl-pagination .owl-page {
    border-radius: 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 4px;
    position: relative;
    background: rgba(255, 255, 255, .7);
    display: inline-block;
    overflow: hidden;
    height: 6px;
    width: 6px;
    margin: 6px 4px;
    text-indent: -200%;
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(17, 17, 17, .4);
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1);
}

.owl-carousel .owl-pagination .owl-page.active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.image-slider {
    position: relative;
}

.cover {
    object-fit: cover;
    width: 600px;
    height: 400px
}

.image-slider img {
    width: 100%;
}

.image-slider.owl-carousel .owl-prev,
.image-slider.owl-carousel .owl-next {
    background: transparent;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50%;
    margin-top: -35px;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    display: block;
    color: #fff;
}

.image-slider.owl-carousel .owl-prev span:before,
.image-slider.owl-carousel .owl-next span:before {
    line-height: 68px;
}

.image-slider.owl-carousel .owl-prev {
    left: 15px;
}

.image-slider.owl-carousel .owl-next {
    right: 15px;
}

.image-slider .owl-pagination {
    margin-top: -28px;
}

.tms-slides {
    text-align: center;
}

.tms-slides .tms-icons {
    margin: 0 0 20px;
}

.tms-slides .tms-icons h2 {
    line-height: 1;
    font-size: 32px;
}

.tms-slides blockquote {
    border: 0;
    line-height: 1.8;
    font-size: 20px;
    padding: 20px 0;
    margin: 0;
}

.tms-slides blockquote p:before,
.tms-slides blockquote p:after {
    display: none;
}

.tms-slides .tms-author {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 11px;
    opacity: .8;
}

.tms-slides .owl-pagination {
    margin-top: 20px;
}

.module-slides {
    position: relative;
}

.module-slides .slides-container {
    display: none;
}

.module-slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.module-slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

.slides-navigation {
    margin: -35px auto 0;
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 100%;
}

.slides-navigation a {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50%;
    margin-top: -35px;
    text-align: center;
    font-size: 36px;
    display: block;
    color: #fff;
    -webkit-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

.slides-navigation a span:before {
    line-height: 68px;
}

.slides-navigation a.prev {
    left: 40px;
}

.slides-navigation a.next {
    right: 40px;
}

.module-slides.dark-nav:hover a.prev:hover,
.module-slides.dark-nav:hover a.next:hover,
.module-slides.dark-nav:hover a.prev:focus,
.module-slides.dark-nav:hover a.next:focus,
.module-slides.dark-nav .slides-navigation a {
    color: #313131;
}

.module-slides:hover a.prev:hover,
.module-slides:hover a.next:hover,
.module-slides:hover a.prev:focus,
.module-slides:hover a.next:focus {
    color: #fff;
}

.module-slides:hover a.prev:hover {
    -webkit-transform: translateX(-5px) scale(.97);
    transform: translateX(-5px) scale(.97);
}

.module-slides:hover a.next:hover {
    -webkit-transform: translateX(5px) scale(.97);
    transform: translateX(5px) scale(.97);
}

.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.slides-pagination a {
    position: relative;
    background: rgba(255, 255, 255, .7);
    display: inline-block;
    overflow: hidden;
    height: 6px;
    width: 6px;
    margin: 6px 7px;
    text-indent: -200%;
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s cubic-bezier(0, 0, .58, 1);
    transition: all .3s cubic-bezier(0, 0, .58, 1);
}

.slides-pagination a.current {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media (max-width: 992px) {
    .slides-navigation a.prev {
        left: 20px;
    }

    .slides-navigation a.next {
        right: 20px;
    }
}

@media (max-width: 767px) {

    .slides-navigation a.prev,
    .slides-navigation a.next {
        display: none;
    }
}

.hero-slider {
    height: 800px;
}

.hero-slider .parallax,
.hero-slider .owl-item,
.hero-slider .owl-stage,
.hero-slider .owl-stage-outer {
    height: 100%;
}

/*------------------------------------------------------------------
[Social Icons]
*/

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list>li {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.social-list>li>a {
    display: block;
    background: #f7f7f7;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #313131;
}

.social-list>li>a:hover,
.social-list>li>a:focus {
    opacity: .6;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons>li {
    display: inline-block;
    margin: 5px 10px;
    margin: 5px 15px 5px 0;
}

.social-icons>li>a {
    font-size: 14px;
    color: #333;
}

.social-icons>li>a:hover,
.social-icons>li>a:focus {
    color: #4a90e2;
}

/*------------------------------------------------------------------
[Footer]
*/

.footer {
    position: relative;
    background: #1b1d1f;
    color: #bfbfbf;
    padding: 60px 0 0;
    height: 100px;
    width: 100%;
}

.footer a {
    color: #fff;
}

.footer a:hover,
.footer a:focus {
    color: #fff;
    opacity: .7;
}

.footer h1,
.footer .h1,
.footer h2,
.footer .h2,
.footer h3,
.footer .h3,
.footer h4,
.footer .h4,
.footer h5,
.footer .h5,
.footer h6,
.footer .h6 {
    color: #fff;
}

.footer .copyright {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, .05);
    padding: 20px 0;
}


/* Custom Styles */


.portfolio-container {
    padding-top: 30px;
}

.portfolioimg {
    height: 400px;
    max-height: 400px;
}

.breadcrumb {
    background: transparent;
}

.brick {
    background-color: #fafafa;
}



.escheresque_ste {
    background-color: white;
}

.polaroid {
    position: relative;
    width: 100%;
}

.polaroid img {
    margin-bottom: .75rem;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
    margin-bottom: 1.75rem;
}

.blog-magazine .post {
    margin: 0 0 30px;
}

.blog-magazine .col-lg-6 .post-background {
    padding-top: 80%;
}

.post-background {
    position: relative;
    border-radius: 3px;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 40%;
}

.post-background:before {
    border-radius: 3px;
    position: absolute;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, transparent 0%, #252525 100%);
    background: linear-gradient(to bottom, transparent 0%, #252525 100%);
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: .85;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.post-background .post-background-link {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.post-background .post-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 30px;
    margin: 0;
    z-index: 2;
}

.post-background .post-header .post-title {
    font-size: 28px;
    margin: 0 0 10px;
}

.post-background .post-header .post-title a {
    color: #fff;
}

.post-background:hover:before {
    opacity: .6;
}

@media (max-width: 992px) {

    .blog-magazine .col-lg-6 .post-background,
    .blog-magazine .col-lg-12 .post-background {
        padding-top: 80%;
    }
}

.post-header {
    margin: 0 0 30px;
}

.post-title {
    font-size: 30px;
    margin: 0 0 15px;
}

.post {
    margin: 0 0 50px;
}

.post+.post {
    margin: 80px 0 0;
}

.post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #bdbdbd;
}

.post-meta>li {
    position: relative;
    display: inline-block;
    padding: 0 14px 0 0;
    margin: 0 14px 0 0;
}

.post-meta>li:not(:last-child):after {
    position: absolute;
    content: '|';
    right: -5px;
    top: 0;
}

.post-meta>li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.timeline .post-meta,
.blog-grid .post-meta,
.blog-masonry .post-meta {
    font-size: 11px;
}

.post-meta a {
    color: #bdbdbd;
}

.post-meta a:hover,
.post-meta a:focus {
    color: #4a90e2;
}

.remove a {
    color: white;
}

.remove {
    color: white;
}

.tab a {
    color: blue;
}

.scrollLeft {
    width: 90%;
    height: 100px;
    margin: 50px auto 0 auto;
    position: relative;
    overflow: auto;
}

.em,
.em-svg {
    height: 1em;
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.text-center {
    margin-top: -2em;
}

.img-fluid {
    height: 400px;
}

 .row-portfolio .grid-sizer,
.row-portfolio .portfolio-item {
    width: 33.333333%;
    float: left;
}

.row-portfolio[data-columns="4"] .grid-sizer,
.row-portfolio[data-columns="4"] .portfolio-item {
    width: 25%;
}

/*------------------------------------------------------------------
[Portfolio grid11111]
*/

.row-portfolio.row-related-portfolio {
    margin-left: -10px;
    margin-right: -10px;
}

.row-portfolio.row-related-portfolio .grid-sizer,
.row-portfolio.row-related-portfolio .portfolio-item {
    padding: 0 10px 20px;
}